.menu{
    width: 800px;
 
    color: aliceblue;
    font-size: 70px;
    border-spacing: 1;
}
table{
    
    margin-left: 250px;
    padding: 10px;
    border-spacing: 50px;
}
th{
    
    border-radius: 12px;
    width: 100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: aliceblue;
}
h1{
    text-align: center;
    font-size: 100px;
}